<h1>Admin panel</h1>
<br>

<% @categories.each do |category| %>
  <h2> <%= category.name %> </h2>

  <%= link_to 'Add', admin_admin_panel_path(id: category.id), method: :post %>
  <br>
  <%= link_to 'Delete', category_path(id: category.id), method: :delete %>
  <br>
  <br>
<% end %>