<h2>Editing Product</h2>

<%= form_for @product, as: :product, url: admin_product_path(@product) do |f| %>

  <%= render partial: 'form_fields', locals: { f: f } %>

  <div class="actions">
    <%= f.submit "Update Product", class: 'btn btn-secondary' %>
  </div>
<% end %>