<h2>Users</h2>
<br>
<div class="actions">
  <%= link_to 'Invite User', new_user_invitation_path, class: "btn btn-secondary"  %>
</div>
<%  @users.each do |user|%>
  <strong>email:</strong>
  <%= user.email %>
  <strong>| Invitation accepted?</strong>
  <%= user.invitation_accepted? %>
  <strong>| Role:</strong>
  <%= user.role %>
  <br>
<% end %>